.chart {
    -fx-padding: 10px;
}

.chart-content {
    -fx-padding: 10px;
}

.chart-title {
    -fx-text-fill: #000000;
    -fx-font-size: 10px;
}

.data0.chart-pie {
     -fx-pie-color: #00ccff;
 }

.data1.chart-pie {
    -fx-pie-color: #fe405b;
}


.chart-bar {
    -fx-background-color: rgba(0,168,355,0.05);
    -fx-border-color: rgba(0,168,355,0.3) rgb(67, 255, 4)
    transparent rgba(232, 21, 2, 0.98);
    -fx-background-radius: 0;
    -fx-background-position: left center;
}