.chart {
    -fx-padding: 10px;
}

.chart-content {
    -fx-padding: 10px;
}

.chart-title {
    -fx-text-fill: #000000;
    -fx-font-size: 12px;
}

.data0.chart-pie {
    -fx-pie-color: #00ccff;
}

.data1.chart-pie {
    -fx-pie-color: #fe405b;
}