.chart-series-line {
    -fx-stroke-width: 2px;
    -fx-effect: null;
    -fx-stroke: #00d2ff;
}

/*.onHover{*/
/*-fx-background-color: #3200ff;*/
/*}*/

.default-color0.chart-line-symbol {
    -fx-background-color: #00d2ff, white;
    -fx-background-radius: 0px;
    -fx-padding: 3px;
}

